@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: urbanist;
  src: url(./assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}
@font-face {
  font-family: indie;
  src: url(./assets/fonts/Indie_Flower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: playwrite;
  src: url(./assets/fonts/Playwrite_FR_Moderne/PlaywriteFRModerne-VariableFont_wght.ttf);
}

@font-face{
  font-family: comforta;
  src: url(./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

body{
    font-family: urbanist;
    color:white;
}

.comforta{
  font-family: comforta;
}

.playwrite {
  font-family: playwrite;
}
.indie {
  font-family: indie;
}
.urbanist {
  font-family: urbanist;
}

::selection {
  background: rgba(235, 223, 116, 0.9);
}

.premium-card{background: linear-gradient(#f0d39d, #ffbb00);}
.standard-card{background: linear-gradient(#b9d6f1, #4a9eec);}
.base-card{background:linear-gradient(#dddddd, #bdbdbd);}

.standard-btn-hover {
  background-color: transparent;
  color: white;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &:hover {
    color: #212121;
    background-color: white;
  }
}

.link-transition {
  color: white;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
  /* default shadow */
  transition: color 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;

  &:hover {
    color: #ecce97;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5),
      /* default shadow */ 0 0 0 10px rgba(255, 255, 255, 0.2),
      /* added shadow */ 0 0 0 20px rgba(255, 255, 255, 0.05);
    /* added shadow */
  }
}

.social-link-transition {
  &:hover img {
    transition: filter 0.3s ease-in-out;
    filter: grayscale(0) brightness(2);
  }
}

.link-transition2 {
  color: white;
  filter: none;
  transition: color 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out;

  &:hover {
    color: #ecce97;
    filter: drop-shadow(0px 4px 6px #ffbb00);
  }
}

#landing-background {
  background-image: url("./assets/images/esterni12.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main-section {
  height: 100vh;
  width: 100%;
}

#landing-card-container {
  margin-left: 20%;
}

#generic-bg {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.82),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 1)
  );
}

#gallery-stripe {
  position:relative;
  z-index: 1;

  background-image: url("assets/images/esterni12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Create the overlay using ::before */
#gallery-stripe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  z-index: -1; /* Place the overlay behind the content */
  transition: background-color 0.2s ease; /* Smooth transition */
}

#gallery-stripe:hover::before {
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity to the desired level */
}

#main-nav {
  mask-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}
