@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: urbanist;
  src: url(./assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}
@font-face {
  font-family: indie;
  src: url(./assets/fonts/Indie_Flower/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: playwrite;
  src: url(./assets/fonts/Playwrite_FR_Moderne/PlaywriteFRModerne-VariableFont_wght.ttf);
}

@font-face {
  font-family: comforta;
  src: url(./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

body {
  font-family: urbanist;
  color: white;
}

.comforta {
  font-family: comforta;
}

.playwrite {
  font-family: playwrite;
}
.indie {
  font-family: indie;
}
.urbanist {
  font-family: urbanist;
}

::selection {
  background: rgba(210, 210, 116, 0.7);
}

/*
::selection{
    background: rgba(255, 255, 255, 1);
}*/

#main-nav {
  mask-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}

.standard-btn {
  transition: color 0.12s ease-in-out;
  transition: background-color 0.12s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
  }
}

.link-transition {
  color: white;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
  /* default shadow */
  transition: color 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;

  &:hover {
    color: #ecce97;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5),
      /* default shadow */ 0 0 0 10px rgba(255, 255, 255, 0.2),
      /* added shadow */ 0 0 0 20px rgba(255, 255, 255, 0.05);
    /* added shadow */
  }
}

/* .social-link-transition {
  &:hover img {
    transition: filter 0.3s ease-in-out;
    filter: grayscale(0) brightness(2);
  }
} */

.link-transition2 {
  filter: none;
  transition: color 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out;

  &:hover {
    color: #ecce97;
    filter: drop-shadow(0px 4px 6px #ffbb00);
  }
}

#bg0 {
  background-image: url("./assets/images/sfondi/0.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bg1 {
  background-image: url("./assets/images/sfondi/1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bg2 {
  background-image: url("./assets/images/sfondi/2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bg3 {
  background-image: url("./assets/images/sfondi/3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#landing-card-container {
  margin-left: 20%;
}

#generic-bg {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.82),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 1)
  );
}

#main-section {
  height: 100vh;
  width: 100vw;
}

.gallery-stripe {
  position: relative;
}
.gallery-stripe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.gallery-stripe:hover::before {
  opacity: 1;
}

#stripe-battesimo {
  background-image: url("./assets/images/battesimo/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#stripe-compleanno {
  background-image: url("./assets/images/compleanno/landscape7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#stripe-laurea {
  background-image: url("./assets/images/laurea/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#stripe-ritratto {
  background-image: url("./assets/images/ritratto/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.big-shadow:hover {
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0px 25px 51px -4px rgba(0, 0, 0, 1);
}

.wa-minibanner:hover {
  transition: display 0.3s ease-in-out;
  & p {
    display: block;
  }
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 50%;
}

.scroll-align-start {
  scroll-snap-align: center;
}

.default-card-bg {
  @apply bg-black bg-opacity-15 backdrop-blur-md rounded-3xl;
}

.contact-mail {
  background-image: url("./assets/icons/mail-black.png");
  background-size: 95%;
}

.contact-whatsapp {
  background-image: url("./assets/icons/whatsapp-icon-black.png");
  background-size: 85%;
}

.contact-instagram {
  background-image: url("./assets/icons/instagram-icon-black.png");
  background-size: 85%;
}
